*{
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100%;

    header {
        display: flex;
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pages {
        max-width: 1240px;
    }
}