.logementDetail {
    margin: 40px 0;

    .detailMain {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0;

        .infoContainer {

            h1 {
                color: $primary-color;
                font-weight: 500;
                margin-bottom: 0;
            }

            p {
                font-size: 1.2em;
                margin-top: 10px;
            }

            .tagsContainer {
                margin-top: 40px;
            }
        }

    }

    .collapseContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        padding-top: 15px;

        div {
            flex: 1;
            min-width: 0;
        }
    }

    @media (max-width: 1024px) {
        padding: 0 10px;

        .slider {
            padding: 0 10px;
        }

        .detailContainer {
            padding: 10px;

            .detailMain {
                flex-direction: column;

                .infoContainer {
                    padding: 10px;
                }

                .detailHost {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                  
                    .hostContainer {
                        order: 2;
                    }

                    p {
                        max-width: 130px;
                    }
                }
            }

            .collapseContainer {
                flex-direction: column;
                gap: 20px;
                width: 100%;
            }

        }
    }  
    
    @media (max-width: 465px) {
        .detailHost {
            display: flex;
            flex-direction: column !important;
            gap: 15px;
            align-items: center;
            padding-top: 10px;

            .hostContainer {
                gap: 5px;
                p {
                    text-align: left;
                }
            }

            .rating {
                order: 2;
            }
        }
    }
}