.card {
    position: relative;
    border-radius: 15px;
    height: 340px;
    color: white;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    h2 {
        position: absolute;
        left: 30px;
        bottom: 15px;
        text-shadow: $shadow;
    }
}