.collapseTitle{
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: white;
    padding: 15px;
    border-radius: 15px;

    h2 {
        font-size: 1.1em;
    }

    img {
        height: 10px;
        align-items: center;
    }
}

.collapseContent {
    background-color: $secondary-color;
    padding: 15px;
    padding-top: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}