.collapseTitle {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    position: relative;
    z-index: 1;
    color: white;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;

    h2 {
        font-size: 1.1em;
    }

    .chevronUp {
        transition: transform 0.3s ease;
    }

    .rotate {
        transform: rotate(180deg);
    }
}

.collapseContent {
    background-color: $secondary-color;
    position: relative;
    top: -15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;

    .collapseInner {
        padding: 15px;
        padding-top: 25px;

        ul {
            list-style-type: none;
            padding-left: 15px;
        }
    }
}