nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5px;
    max-width: 1240px;
    width: 100%;

    img {
        height: 70px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 30px;
    }

    a {
        color: black;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    @media (max-width: 1024px) {

        img {
           height: 50px;
        }

        ul {
            gap: 20px;
            padding-left: 5px;
        }
    }
}