.topImg {
    background-image: url(../assets/kasa-about-img.png);
    @include topImg; 
    width: 1240px;
    margin: 35px 0 ;
    
    div {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        @include topImg;
        max-width: 1240px;
    }
}

.aboutContent {
    padding: 0 60px;

    .collapseItem {
        padding-bottom: 30px;
    }
}