* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
body header {
  display: flex;
  justify-content: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .pages {
  max-width: 1240px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  max-width: 1240px;
  width: 100%;
}
nav img {
  height: 70px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 30px;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  text-decoration: underline;
}

.card {
  position: relative;
  border-radius: 15px;
  height: 340px;
  color: white;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.card h2 {
  position: absolute;
  left: 30px;
  bottom: 15px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  margin: 0;
  width: 1240px;
  height: 415px;
}
.slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.slider .sliderNavBtn button {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  color: white;
  font-size: 125px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.slider .sliderNavBtn .nextBtn {
  right: 0;
}
.slider .counter {
  position: absolute;
  right: 50%;
  bottom: 20px;
  color: white;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 500;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tagsContainer .tag {
  font-size: 0.9em;
  font-weight: 600;
  color: white;
  background-color: #FF6060;
  padding: 5px 20px;
  border-radius: 25px;
}

.hostContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 20px;
}
.hostContainer p {
  color: #FF6060;
  font-size: 1.3em;
  text-align: right;
  justify-content: end;
  padding-bottom: 15px;
  max-width: 150px;
}
.hostContainer img {
  border-radius: 50%;
  height: 100px;
}

.rating {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #FF6060;
  gap: 10px;
  padding-top: 15px;
}

.collapseTitle {
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  color: white;
  padding: 15px;
  border-radius: 15px;
}
.collapseTitle h2 {
  font-size: 1.1em;
}
.collapseTitle img {
  height: 10px;
  align-items: center;
}

.collapseContent {
  background-color: #F6F6F6;
  padding: 15px;
  padding-top: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.kasaFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  background-color: black;
  gap: 15px;
  color: white;
  margin-top: 35px;
}

.home section {
  margin-bottom: 40px;
}

.intro {
  position: relative;
  background-image: url(../assets/kasa-home-img.png);
  background-color: #F6F6F6;
  height: 223px;
  border-radius: 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 35px;
}
.intro h1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  height: 223px;
  border-radius: 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  padding: 30px;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-sizing: border-box;
}

.logementDetail {
  margin: 40px 0;
}
.logementDetail .detailMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}
.logementDetail .detailMain .infoContainer h1 {
  color: #FF6060;
  font-weight: 500;
  margin-bottom: 0;
}
.logementDetail .detailMain .infoContainer p {
  font-size: 1.2em;
  margin-top: 10px;
}
.logementDetail .detailMain .infoContainer .tagsContainer {
  margin-top: 40px;
}
.logementDetail .collapseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding-top: 15px;
}
.logementDetail .collapseContainer div {
  width: 97%;
}

.topImg {
  background-image: url(../assets/kasa-about-img.png);
  height: 223px;
  border-radius: 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1240px;
  margin: 35px 0;
}
.topImg div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 223px;
  border-radius: 25px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1240px;
}

.aboutContent {
  padding: 0 60px;
}
.aboutContent .collapseItem {
  padding-bottom: 30px;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  gap: 80px;
}
.notFound h1 {
  color: #FF6060;
  font-size: 14em;
}
.notFound p {
  color: #FF6060;
  font-size: 1.9em;
}
.notFound a {
  color: black;
  padding-bottom: 30px;
}

/*# sourceMappingURL=main.css.map */
