.kasaFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    background-color: black;
    gap: 15px;
    color: white;
    margin-top: 35px;
}